<div class="container">
  <div class="grey lighten-4 div-tracejada row" style="display: flex;">

    <div class='col s1'>
      <i class="material-icons" style='font-size: 4rem;'>local_cafe</i>
    </div>

    <div class='col s10' style="padding-left: 5%;">
      <b>Fabricante / Marca</b><br />
      Família / Tipo<br />
      Teor Alcoólico<br />
      IBU / Cor
    </div>

    <div class='col s1 center' style="width: auto;">
      <i class="material-icons" style='font-size: 4rem;color: gold;'>star</i>
      <span><b>5/5</b></span>
    </div>

  </div>
</div>
