<div class="container" (click)="detalhesCerveja(beer.id)">
  <div class="grey lighten-4 div-tracejada row" style="display: flex;">

    <div class='col s1'>
      <i class="material-icons" style='font-size: 4rem;'>local_cafe</i>
    </div>

    <div class='col s10' style="padding-left: 5%;">
      <b>Fabricante: </b> {{ beer.fabricante | titlecase }} / <b>Marca: </b> {{ beer.marca | titlecase }}<br />
      <b>Família: </b> {{ beer.familia | titlecase }} / <b>Tipo: </b> {{ beer.tipo | titlecase }}<br />
      <b>Teor Alcoólico: </b> {{ beer.teor | number: '1.1-2' }} %<br />
      <b>IBU: </b> {{ beer.ibu }} / <b>Cor: </b> {{ beer.cor | titlecase }}
    </div>

    <div class='col s1 center' style="width: auto;">
      <i class="material-icons" style='font-size: 4rem;color: gold;'>star</i>
      <span><b>{{ beer.qtdEstrelas }}/5</b></span>
    </div>

  </div>
</div>
