<div class="container center">
  <br />

  <div class="row">
    <div class="col s12">
      <div
        *ngIf="this.mensagemRetorno"
        id="msg-login"
        class="card-panel red white-text">
        {{ this.mensagemRetorno }}
      </div>
  </div>

  <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 0px 40px 12px 40px; border: 1px solid #EEE;">
    <form #form="ngForm" (ngSubmit)="efetuarLogin()" class="col s12" method="post">
      <div class='row'>
        <div class='col s12'>
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <div class='input-field col s12'>
            <input
              id='input-email'
              name='input-email'
              type='email'
              class='validate'
              [(ngModel)]="this.email"
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
              #inputemail="ngModel"
              placeholder="Digite seu Email"
              required />
          </div>
        </div>
        <div class="red-text" style="font-size: small;" [hidden]="inputemail.valid || inputemail.pristine">
          E-mail inválido!
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <input
              id='input-senha'
              name='input-senha'
              type='password'
              class='validate'
              [(ngModel)]="this.senha"
              pattern="^[a-zA-Z0-9_@#\\&\\$]{6,18}$"
              #inputsenha="ngModel"
              placeholder="Digite sua senha"
              required />
        </div>
        <div class="red-text" style="font-size: small;" [hidden]="inputsenha.valid || inputsenha.pristine">
          Senha inválida! (Min. 6 caracteres)
        </div>
      </div>

      <div class='row'>
        <div class='col s12'>
          <label>
            <b>
              <a class='pink-text' routerLink="/register">Cadastre-se</a>
              /
              <a class='pink-text' routerLink="/forgot">Recuperar senha</a>
            </b>
          </label>
        </div>
      </div>

      <br />
        <div class='row'>
          <button
            type='submit'
            name='btn-login'
            class='col s12 btn btn-large waves-effect indigo'
            [disabled]="!form.valid">
            Entrar
          </button>
        </div>
    </form>
  </div>
</div>
