<div class="container center">
  <br />
  <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 0px 40px 12px 40px; border: 1px solid #EEE;">

    <form class="col s12" method="post">
      <div class='row'>
        <div class='col s12'>
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <input class='validate' type='text' name='full-name' id='full-name' placeholder="Digite seu nome"/>
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <input class='validate' type='email' name='email' id='email' placeholder="Digite seu email"/>
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <input class='validate' type='password' name='password' id='password' placeholder="Digite sua senha"/>
          <br />
          <input class='validate' type='password' name='confirm-password' id='confirm-password' placeholder="Confirme sua senha"/>
        </div>
      </div>

        <div class='row'>
          <button (click)="cadastrarUsuario()" type='submit' name='btn_register' class='col s12 btn btn-large waves-effect indigo'>Registrar</button>
        </div>
    </form>
  </div>
</div>
